footer, main, header {
    max-width: 1400px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
}

.header .container {
    max-width: 1200px;
}

/* MAIN */
#main {
    padding: 20px;
    min-height: 650px;
}

/* FOOTER */
#footer {
    padding: 20px 20px 10px 20px;
    color: #636363;
    background-color: #333333;
}


.policy-row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 850px) {
    .policy-row {
        display: block;
        padding-bottom: 20px;
    }

    .policy-second, .policy-first {
        text-align: center;
    }

    .policy-second a {
        padding: 0 15px;
    }
}

.policy-first p {
    display: inline-block;
    padding-right: 15px;
}

.policy-second img {
    max-width: 28px;
    background-color: #959595;
    padding: 6px;
    border-radius: 7px;
}


.policy-second img:hover, .contact-social img:hover {
    box-shadow: 2px 2px 2px cornflowerblue;
}

.policy-second img:hover, .contact-social img:hover {
    filter: invert();
    cursor: pointer;
}

/* TASKS */
.task-lists-ol {
    display: flex;
    justify-content: space-evenly;
}

.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
}

.gradient-list li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

.gradient-list li::before, .gradient-list li::after {
     background: linear-gradient(135deg,#83e4e2 0%, #a2ed56 100%);
     border-radius: 1rem 1rem 0 1rem;
     content: '';
     height: 3rem;
     left: -1rem;
     overflow: hidden;
     position: absolute;
     top: -1rem;
     width: 3rem;
 }

.gradient-list li::before {
    align-items: flex-end;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}